{% extends '_base.html' %}


{% block title %}
    Add New Post
{% endblock %}



{% block style %}

    <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/forms/select/select2.min.css">

{% endblock %}



{% block content %}
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Input Groups</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Form Elements</a>
                                    </li>
                                    <li class="breadcrumb-item active">Input Groups
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle waves-effect waves-float waves-light" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                    <rect x="3" y="3" width="7" height="7"></rect>
                                    <rect x="14" y="3" width="7" height="7"></rect>
                                    <rect x="14" y="14" width="7" height="7"></rect>
                                    <rect x="3" y="14" width="7" height="7"></rect>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square me-1">
                                    <polyline points="9 11 12 14 22 4"></polyline>
                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                </svg>
                                <span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square me-1">
                                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                                </svg>
                                <span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail me-1">
                                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                                <span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar me-1">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="align-middle">Calendar</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="input-group-basic">
                    <div class="row">
                        <!-- Basic -->
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">New Post</h4>
                                </div>
                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data" class="row">
                                        {% csrf_token %}

                                        {{ form.non_field_errors }}

                                        <div class="col-6">
                                            <label class="form-label" for="post_title">Title</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                {{ form.title }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="post_title">Text</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                {{ form.text }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="post_title">author</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                {{ form.status }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="post_title">status</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                {{ form.author }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="post_title">image</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                {{ form.thumbnail }}
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="input-group form-password-toggle mb-2">
                                                <button type="submit" class="form-control" id="post_title">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}

    <script src="/static/app-assets/vendors/js/forms/select/select2.full.min.js"></script>

    <script src="/static/app-assets/js/scripts/forms/form-select2.js"></script>

{% endblock %}